*,
::after,
::before {
    box-sizing: border-box
}

body {
    margin: 0;
    font-family: Arial Black;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #003B7C;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent

}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0 rem;
    padding-bottom: 0rem;
    z-index: 1000;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .15);
    background-color: #002D60;

}
.navbar-name{
    color: #fff;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    margin-left: 1rem;
    font-size: 1.25rem;
    white-space: nowrap;
    text-decoration: none;
}

.main{
  margin: auto;
  width: 300px;
  margin-top: 7%;
}
.username{
    width: 300px;
    height: 60px;
    border-radius: 10px 10px 0px 0px;
    border-color: #fff;
}

.email{
    width: 300px;
    height: 60px;

    border-color: #fff;
}

.password{
    width: 300px;
    height: 60px;
    border-radius: 0px 0px 10px 10px;
    border-color: #fff;
}

.sign_in{
    width: 300px;
    height: 40px;
    border-radius: 10px 10px 10px 10px;
    margin-top: 10px;
    border-color: #fff;
}